<h2>Pedido realizado com sucesso!</h2>

<p>
    Número do pedido:
    <strong>@ViewBag.PedidoId</strong>
</p>

<a asp-controller="Produto"
   asp-action="Index"
   class="btn btn-primary">
    Continuar Comprando
</a>