@model Ecommerce.Web.ViewModels.ProdutoViewModel

@{
    ViewData["Title"] = "Cadastrar Produto";
}

<h2>Cadastrar Produtos</h2>

<form asp-action="Create" enctype="multipart/form-data">

    <div class="mb-3">
        <label class="form-label">Nome</label>

        <input asp-for="Nome" class="form-control" />

        <span asp-validation-for="Nome" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label class="form-label">Descrição</label>

        <input asp-for="Descricao" class="form-control" />

        <span asp-validation-for="Descricao" class="text-danger"></span>

    </div>


    <div class="mb-3">
        <label class="form-label">Preço</label>

        <input asp-for="Preco" class="form-control" />

        <span asp-validation-for="Preco" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label class="form-label">Estoque</label>

        <input asp-for="Estoque" class="form-control" />

        <span asp-validation-for="Estoque" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label asp-for="CategoriaId" class="form-label">
            Categoria
        </label>

        <select asp-for="CategoriaId"
                asp-items="Model.Categorias"
                class="form-control">
            <option value="">Selecione uma categoria</option>
        </select>
    </div>


    <div class="mb-3">
        <label class="form-label">Imagem</label>

        <input asp-for="ImagemUpload" type="file" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">
        Salvar
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Voltar
    </a>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}